$placeholderColor-light: #c4c4c4;
$placeholderColorHover-light: #7d8ca7;
$inputBGHover-light: #e7e9f0ed;
$inputBG-light: #f2f4fd;
$placeholderErrorColor-light: #b16464;
$errorBG-light: #faf2f2;
$errorBorderColor-light: #d7a3a3;

$placeholderColor-dark: #c1c8d4;
$placeholderColorHover-dark: #7d8ca7;
$inputBGHover-dark: #3d4c77;
$inputBG-dark: #2f3a5a;
$placeholderErrorColor-dark: #fac4c4;
$errorBG-dark: #4a2d27;
$errorBorderColor-dark: #895b5b;
$inputColor-dark: #ffffff;

$btnConfirmBG: #6484c5;
$btnCancelBG: #d9dbe1;
$activeCurrentDateBG: #6f7dad;
