@import '../../styles/mixins.scss';
.calendar {
  display: none;
}
.calendarActive {
  position: absolute;
  bottom: 34px;
  right: 0;
  display: block;
  width: 268px;
  max-height: 340px;
  border: 1px solid #43577e;
}
.header {
  display: flex;
  background-color: #f2f4fd;
  border-bottom: 1px solid #43577e;
}
.month {
  width: 50%;
  border-right: 1px solid #43577e;

  @include currentDateHeader;
}
.monthActive {
  width: 50%;
  background-color: #6f7dad;
  border-right: 1px solid #43577e;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    display: none;
  }
}
.monthInactive {
  width: 50%;
  @include currentDateHeader;
  justify-content: center;
  & button {
    display: none;
  }
}
.btnPrevMonth,
.btnPrevYear {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 7px solid #6484c5;
}
.btnNextMonth,
.btnNextYear {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid #6484c5;
}

.currentMonthName {
  cursor: pointer;
}
.year {
  width: 50%;
  @include currentDateHeader;
}
.yearActive {
  width: 50%;
  background-color: #6f7dad;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  & button {
    display: none;
  }
}
.currentYear {
  cursor: pointer;
}
