@import '../../styles/variables.scss';
.listYears {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 0;
  overflow: hidden;
  max-height: 200px;
}
.itemYear {
  text-align: center;
  padding: 15px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  color: #6a7180;
}
.active {
  text-align: center;
  padding: 15px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  background-color: $activeCurrentDateBG;
}
.footer {
  display: flex;
  justify-content: center;
  border-top: 1.5px solid #6a7180;
}
.btnConfirm,
.btnCancel {
  padding: 10px 15px;
  flex-grow: 1;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 400;
}
.btnConfirm {
  background-color: #6484c5;
  border: 1px solid #647cab;
  border-radius: 2px;
  color: #ffffff;
}
.btnCancel {
  background-color: #d9dbe1;
  color: #687793;
}
