@import './styles/reset.scss';
.App{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	row-gap: 90px;

}
@font-face {
	font-family: 'Roboto';
	src: url('./fonts/Roboto/static/Roboto-Medium.ttf');
	font-weight: 500;


}

@font-face {
	font-family: 'Roboto';
	src: url('./fonts/Roboto/static/Roboto-Regular.ttf');
	font-weight:400;


}

[data-theme='light'] {
	background-color: #ffffff;
	.btnToggleTheme{
		color: dark;
	}
  }
  
  [data-theme='dark'] {
	background-color: #181f32;
	.btnToggleTheme{
		color: white;

	}
  }
  
